/* Width, Heigth y Border */
h1 {
    width: 400px;
    height: 200px;
    border-color: green;
    border-top-color: red;
    border-width: thick;
    /* thin: 1px , medium: 3px, thick: 5px */
    border-style: solid;
}


/* ------------------------------------------------------------------ */
/* Padding & Margin */
.caja-uno,
.caja-dos {
    border: medium solid black;
    padding: 20px;
    margin: 20px;
    padding: 20px 40px;
    margin: 40px 20px;
    padding: 0 40px 20px;
    margin: 50px 30px 0;
    padding: 0 40px 20px 50px;
    margin: 100px 50px 30px 0;
}


/* ------------------------------------------------------------------ */
/* Cajas de Linea y de Bloque */
.caja-linea,
.caja-bloque {
    background-color: darkcyan;
    color: white;
    width: 500px;
    height: 250px;
    border: medium solid black;
    padding: 16px;
}

.caja-bloque {
    margin: 32px;
    display: block;
}

.caja-linea {
    margin: 48px;
    display: inline;
}


/* ------------------------------------------------------------------ */
/* Display */
.caja-none,
.caja-linea-bloque,
.caja-hidden {
    background-color: darkolivegreen;
    color: white;
    width: 600px;
    height: 300px;
    border: medium solid black;
}

.caja-linea-bloque {
    display: inline-block;
}

.caja-none {
    display: none;
}


/* ------------------------------------------------------------------ */
/* Overflow */
.caja-hidden {
    visibility: hidden;
}

.overflow {
    background-color: darkturquoise;
    width: 200px;
    height: 100px;
    overflow: visible;
    overflow: hidden;
    overflow: scroll;
    overflow: auto;
    /* overflow-y: scroll; */
    /* overflow-x: scroll; */
}


/* ------------------------------------------------------------------ */
/* Tamaño de Caja */
.box-sizing-content,
.box-sizing-border {
    background-color: deepskyblue;
    box-sizing: content-box;
    width: 500px;
    height: 250px;
    padding: 10px;
    border: thick solid black;
    /* w 500 + 10 + 10 + 5 + 5 = 530 */
    /* h 250 + 10 + 10 + 5 +5  = 280 */
}

.box-sizing-border {
    box-sizing: border-box;
}

.container-col-3 {
    background-color: burlywood;
    width: 600px;
    height: 300px;
    margin-top: 20px;
}

.container-col-3>* {
    box-sizing: border-box;
    width: 200px;
    border: thin solid red;
    padding: 10px;
    float: left;
}


/* ------------------------------------------------------------------ */
/* Float Y Clear */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Floats */
.container-floats {
    background-color: cornflowerblue;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix {
    clear: both;
}


/* ------------------------------------------------------------------ */
/* Colapso de Márgenes Verticales */
.margin-collapse {
    background-color: skyblue;
}

.margin-collapse section {
    border: thin solid black;
    margin-top: 16px;
    margin-bottom: 16px;
}

.margin-collapse span {
    border: thin solid black;
    display: inline-block;
    margin-right: 16px;
    margin-left: 16px;
}