html{
    scroll-behavior: smooth;
}

/* Selectores Basicos */

.text-30 {
    font-size: 20px;
}
.text-30{
    font-size: 30px;
}

.text-while{
    color: white;
}
.text-yellow{
    color: yellow;
}

.bg-blue{
    background-color: blue;
}
.bg-red{
    background-color: red;
}

/* Selectores Aanzados */

.hijos-directos > li {
    background-color: aquamarine;
}

.hijos-desendientes b{
    background-color: aquamarine;
}

/* Se le aplican a los que esten por debajo */
.hermanos-general ~ li {
    background-color: thistle;
}
  
.hermanos-adyacentes + li {
    background-color: thistle;
}




