.text-30 {
    font-size: 20px;
}
.text-30{
    font-size: 30px;
}

.text-while{
    color: white;
}
.text-yellow{
    color: yellow;
}

.bg-blue{
    background-color: blue;
}
.bg-red{
    background-color: red;
}