html {
    scroll-behavior: smooth;
}


/* ------------------------------------------------------------------ */
/* Selectores Basicos */

.text-30 {
    font-size: 20px;
}

.text-30 {
    font-size: 30px;
}

.text-while {
    color: white;
}

.text-yellow {
    color: yellow;
}

.bg-blue {
    background-color: blue;
}

.bg-red {
    background-color: red;
}


/* ------------------------------------------------------------------ */
/* Selectores Aanzados */

.hijos-directos>li {
    background-color: aquamarine;
}

.hijos-desendientes b {
    background-color: aquamarine;
}

/* Se le aplican a los que esten por debajo */
.hermanos-general~li {
    background-color: thistle;
}

.hermanos-adyacentes+li {
    background-color: thistle;
}


/* ------------------------------------------------------------------ */
/* Selectores de atributos */

.selectores-atributos a[href] {
    color: coral;
}

.selectores-atributos a[target="_blank"] {
    font-weight: bold;
}

/* aplica el estilo mientras contenga el texto */
.selectores-atributos a[href*="jonmircha"] {
    font-size: 20px;
}

/* aplica el estilo si contiene el texto al inicio */
.selectores-atributos a[href^="http"] {
    text-decoration: none;
}

/*aplica el estilo si contiene el texto al final */
.selectores-atributos a[href$=".com"] {
    background-color: wheat;
}

/*aplica el estilo si contiene el texto en una lista de clases separada por espacios */
.selectores-atributos a[class~="cursos"] {
    background-color: rgb(142, 142, 204);
}

/*aplica el estilo si contiene el texto en una lista separada por espacios y que despues del texto venga un guión medio - */
.selectores-atributos a[class|="menu"] {
    font-style: italic;
    color: white;
}


/* ------------------------------------------------------------------ */
/* Selector Universal */

* {
    font-family: sans-serif;
}

.selector-universal * {
    font-size: 24px;
}


/* ------------------------------------------------------------------ */
/* Pseudoclases - dependiendo del contexto, posición o estado del elemento se da el estilo */

.form-pseudoclases *:required {
    border-color: yellow;
}

.form-pseudoclases *:valid {
    border-color: green;
}

.form-pseudoclases *:invalid {
    border-color: red;
}

.form-pseudoclases *:focus {
    background-color: aquamarine;
}

.form-pseudoclases *:disabled {
    background-color: pink;
}

.menu-pseudoclases a:visited {
    color: olive;
}

.menu-pseudoclases a:hover {
    color: coral;
}

.p-pseudoclases:hover {
    font-size: 30px;
}

#temario-css:target {
    background-color: lightgreen;
}

.lista-pseudoclases li:first-child {
    color: green;
}

.lista-pseudoclases li:last-child {
    color: violet;
}

.lista-pseudoclases li:nth-child(3) {
    color: navy;
}

.lista-pseudoclases li:nth-child(4n) {
    font-size: 20px;
}

.lista-pseudoclases li:nth-child(3n + 1) {
    font-weight: bold;
}

.lista-pseudoclases li:nth-child(even) {
    background-color: yellow;
}

.lista-pseudoclases li:nth-child(odd) {
    background-color: orange;
}

.articulo-pseudoclases p:first-of-type {
    background-color: pink;
}

.articulo-pseudoclases p:last-of-type {
    background-color: violet;
}

.articulo-pseudoclases p:nth-of-type(3) {
    background-color: fuchsia;
}

.articulo-pseudoclases *:not(p) {
    background-color: beige;
}


/* ------------------------------------------------------------------ */
/* Pseudoelementos */

.saga-geminis::before {
    content: "🤼‍♂️";
}

.saga-geminis::after {
    content: "♊";
}

.saga-precio::before {
    content: "$";
    font-weight: bold;
}

.saga-precio::after {
    content: "USD";
    font-weight: bold;
}

.p-pseudoelementos::first-letter {
    font-weight: bold;
    font-size: 32px;
}

.p-pseudoelementos::first-line {
    color: coral;
}

.p-pseudoelementos::selection {
    color: greenyellow;
    background-color: black;
}

.input-pseudoelementos::placeholder {
    color: green;
}


/* ------------------------------------------------------------------ */
/* Agrupación de Selectores */
.form-agrupar-selectores input[type="text"],
.form-agrupar-selectores input[type="email"],
.form-agrupar-selectores textarea {
  border-color: yellow;
  border-width: 2px;
  border-style: dashed;
  background-color: black;
  font-size: 20px;
  display: block;
  width: 300px;
}