html {
    box-sizing: border-box;
    font-size: 20px;
    font-size: 32px;
    font-size: 16px;
    background-color: black;
  }

*,
*::after,
*::before {
    box-sizing: inherit;
}

/* Pixeles */
.pixels {
    background-color: cadetblue;
    width: 500px;
    height: 400px;
    padding: 20px;
    font-size: 32px;
    border: 5px solid rebeccapurple;
}


/* em */
.ems {
    background-color: cadetblue;
    font-size: 24px;
    padding: 1em 0.5em;
    border: 5px solid rebeccapurple;
}

.em-child {
    background-color: salmon;
    border: thick solid beige;
    margin: 0.5em;
    padding: 1em;
    font-size: 2em;
}


/* rem */
.rems {
    background-color: cadetblue;
    font-size: 24px;
    padding: 1rem 0.5rem;
    border: 5px solid rebeccapurple;
  }
  
  .rem-child {
    background-color: salmon;
    border: thick solid beige;
    margin: 0.5rem;
    padding: 1rem;
    font-size: 2rem;
  }