html {
    box-sizing: border-box;
  }
*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Pixeles */
.pixels {
    background-color: cadetblue;
    width: 500px;
    height: 400px;
    padding: 20px;
    font-size: 32px;
    border: 5px solid rebeccapurple;
  }